@import "tailwindcss";

/* Custom styles for the hyperlocal PWA app */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Custom Logo Animation */
.logo-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.logo-scooter {
  position: absolute;
  left: -400px; /* Start off-screen */
  top: 60%;
  transform: translateY(-50%);
}

.animate-driveIn {
  animation: driveIn 1s ease-out forwards;
}


/* Text specific animation */
h1 {
  position: relative;
  margin-left: 20px;
  margin-top: 350px;
  
  z-index: 0;
}

@keyframes driveIn {
  0% {
    left: -400px;
  }
  100% {
    left: 2px;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
